@import url(/css/var.css);
h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

h4 {
    font: var(--h4);
}

h5 {
    font: var(--h5);
}

p, .paraph {
    font: var(--p);
}

.label {
    font: var(--label);
}