@import url(./var.css);
@import url(./master.css);

/* ______________________________________________________________

                            GENERAL
______________________________________________________________*/

html, body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin: 0;
}
p{
    margin:0;
    font-weight: 400;
}
h2{
    padding-bottom: 2.875rem;
    grid-column: 1/3;
    grid-row: 1/2;
}

p .label{
    font-weight: 300;
}

.section{
    padding: 3.125rem 9.375rem 3.125rem 9.375rem;
}

.prochainement{
    border-top: 3px solid var(--s1);
    border-bottom: 3px solid var(--s1);
    gap: 25px;
    display: grid;
    grid-template: "art1 art2" 1fr 
                   "divider1 divider2" 3px
                   "art3 art4" 1fr
                   / 1fr 1fr;
}

.article{
    display: flex;
    justify-content: space-around;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-3{
    padding-right: 25px;
}

.content-4{
    padding-right: 25px;
}

.content-1{
    padding-left: 25px;
}

.content-2{
    padding-left: 25px;
}

.separateur{
    background-color: var(--s1);
}
/* ______________________________________________________________

                        SPECIFIQUES
______________________________________________________________*/

.article-1{
    grid-area: art1;
    padding-top: 45px;
}

.article-2{
    grid-area: art2;
    padding-top: 45px;
}

.article-3{
    grid-area: art3;
    padding-bottom: 45px;
    flex-direction: row-reverse;
}

.article-4{
    grid-area: art4;
    padding-bottom: 45px;
    flex-direction: row-reverse;
}

.label-content{
    display: flex;
    justify-content: space-between;
}

.image-3{
    border-radius: 15px;
}

.blue-title{
    color: var(--s1);
}

.gray-font{
    color: var(--p2);
}
