<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un brin d'histoire</title>
    <link rel="stylesheet" href="/css/brin-histoire.css"/>
</head>
<body>
    <h2>Un brin d'histoire</h2>
    <section class="brin">
        <section class="histoire">
            <div class=texte_histoire>
                <h4>L'histoire du CAPC</h4>
                <p>Originellement “Centre d’Arts Plastiques
                    Contemporains”, le CAPC a été fondé en 1973.
                    Il devient le musée d’art contemporain de 
                    Bordeaux en 1984. Le musée est labellisé “Musée
                    de France” en 2002.
                </p>
            </div>
            <div class="assets_histoire">
                <img src="/assets/img/histoire.png" alt="Intérieur du musée">
                    <svg class="deco_histoire" width="165" height="166" viewBox="0 0 165 166" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.25" d="M84.7177 0.0117618C37.492 -0.733444 0.87854 34.0165 0.0170451 80.2977C-0.883609 128.815 34.007 165.605 81.2717 165.997C128.536 166.389 164.445 131.443 164.993 84.7302C165.542 37.3901 130.808 0.717746 84.7177 0.0117618ZM80.4885 118.224C73.58 117.862 66.9308 115.47 61.3699 111.348C55.8089 107.226 51.5821 101.557 49.2163 95.0459C46.8505 88.5346 46.4503 81.47 48.0656 74.7324C49.6809 67.9949 53.2403 61.8819 58.3001 57.1566C63.3599 52.4312 69.6963 49.3017 76.5195 48.1584C83.3428 47.0152 90.3511 47.9089 96.6709 50.7276C102.991 53.5462 108.342 58.1656 112.059 64.0098C115.776 69.8539 117.693 76.6646 117.572 83.5927C117.41 88.3064 116.322 92.9416 114.371 97.2339C112.419 101.526 109.642 105.391 106.198 108.608C102.754 111.824 98.7102 114.329 94.2988 115.979C89.8874 117.629 85.1946 118.392 80.4885 118.224Z" fill="#5F80ED"/>
                    </svg>
            </div>
        </section>

        <section class="environnement">
            <img src="/assets/img/environnement.jpg" alt="Intérieur du musée">
            <div class="texte_environnement">
                <h4>Un environnement fort</h4>
                <p>Situé dans le quartier des Chartrons, le CAPC
                    dispose de plus de 3000m² de surface
                    d’exposition et est installé dans un imposant
                    entrepôt de denrées coloniales du 19ème siècle.
                </p>
            </div>
        </section>

        <section class="collection">
            <div class="texte_collection">
                <h4>Une collection des plus fournies</h4>
                <p>Le CAPC comprend une collection de plus de
                    1600 pièces signées par plus de 200 artistes des
                    quatres coins du monde. Nous pouvons citer
                    parmi eux Daniel Buren, Nan Goldin, Richard
                    Serra ou encore Keith Haring. </p>
            </div>
            <div class="assets_collection">
                <img src="/assets/img/collection.png" alt="Intérieur du musée">
                <svg class="deco_collection" width="206" height="206" viewBox="0 0 206 206" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.25" d="M103 203C158.228 203 203 158.228 203 103C203 47.7719 158.228 3 103 3C47.7715 3 3 47.7719 3 103C3 158.228 47.7715 203 103 203Z" stroke="#5F80ED" stroke-width="5" stroke-miterlimit="10"/>
                </svg>   
            </div>
        </section>
    </section>
</div>
</body>
</html>