<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPC de Bordeaux - Evenement </title>
    <link rel="stylesheet" href="/css/prochainement.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="section prochainement">
        <h2>Prochainement</h2>
        <div class="article article-1">
            <img src="/assets/img/152.jpg" alt="chat">
            <div class="content content-1">
                <div class="label-content">
                    <h5>Visite LSF</h5>
                    <h5>04.12.2021</h5>
                </div>
                <h4> Le tour du jour en 80 mondes </h4>
                <p> Visite de l’exposition avec Sylvanie Tendron, médiatrice LSF </p>
            </div>
        </div>
        <div class="article article-2">
            <img src="/assets/img/152.jpg" alt="chat">
            <div class="content content-2">
                <div class="label-content">
                    <h5>Workshop</h5>
                    <h5>08.12.2021</h5>
                </div>
                <h4> Dancehall </h4>
                <p> Initiation au Dancehall avec la danseuse Mwendwa </p>
            </div>
        </div>
        <div class="article article-3">
            <img src="/assets/img/152.jpg" alt="chat">
            <div class="content content-3">
                <div class="label-content">
                    <h5>Jeune Public</h5>
                    <h5>17.11.2021</h5>
                </div>
                <h4> Cellule Masters  </h4>
                <p> Atelier de construction en Lego® avec Vincent Sereks </p>
            </div>
        </div>
        <div class="article article-4">
            <img src="/assets/img/152.jpg" alt="chat">
            <div class="content content-4">
                <div class="label-content">
                    <h5>Rencontre</h5>
                    <h5>15.12.2021</h5>
                </div>
                <h4> Louise Siffert </h4>
                <p> Présentation du travail de Louise Siffert par l’artiste elle-même </p>
            </div>
        </div>
    </section > 
</body>
</html>